.listContainer {
  border-radius: 24px;
  background-color: #fff;
  margin-top: 16px;
  max-height: 500px;
  overflow: auto;
  position: absolute;
  z-index: 1000;
  min-width: 300px;
  color: #000;
}

.searchContainer {
  height: 55px;
  border-radius: 25px;
  width: 270px;
  padding: 20px;
  margin: 10px 20px 20px 20px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}

.searchInput {
  height: 50px;
  width: 200px;
  border-style: none;
  margin-left: 5px;
}

.searchInput:focus {
  outline: none;
}

.clearButtonContainer {
  text-align: center;
  margin-top: 10px;
}
