@import "./vars.css";

/* TODO: move these definitions to theme.ts (if necessary), then remove the file */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--color-global-bg);
  color: var(--color-white);
  padding: 24px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

p {
  margin: 0;
  line-height: 1.5em;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
