:root {
  /* COLORS */
  --color-black: #000;
  --color-white: #fff;
  --color-focus: #159bff;
  --color-gray: #bdc0c2;
  --color-error: #f79a9a;
  --color-dark-error: #4d0707;
  /* general */
  --color-global-bg: #000;

  /* OTHER */

}
